@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul,
li,
h1,
h4 {
    margin: 0px;
    padding: 0;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    section {
        width: 70%;
        display: grid;
        place-items: center;
        margin-top: 100px;

        button {
            background-color: darkgreen;
            color: white;
            font-size: 1.2rem;
            padding: 10px 30px;
            border-radius: 5px;
            text-transform: capitalize;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }

        #btn1 {
            position: relative;
            left: 500px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }

        #projects-list {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;

            h4 {
                font-size: 1.5rem;
            }

            ;

            #projects-list-container {
                list-style-type: none;
                width: 80%;
                // border: 2px solid red;
                display: flex;
                align-items: center;
                flex-direction: column;

                li {
                    margin: 20px 0;
                    // border: 2px solid red;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    border-radius: 10px;
                    width: 100%;
                    background-color: lightblue;
                    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

                    .project-header {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: space-between;
                        border-bottom: 1px solid gray;
                        background-color: rgb(45, 153, 153);
                        color: white;
                        border-radius: 10px;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        // border: 2px solid red;

                        .del-project-icon {
                            width: 40px;
                            padding: 5px;
                            margin-right: 30px;
                            border-radius: 20px;
                            cursor: pointer;
                            img {
                                width: 100%; 
                            }
                        }
                        .del-project-icon:hover{
                            background-color: aliceblue;
                        }

                        .project-name {
                            width: 80%;
                            text-align: left;
                            // border: 2px solid red;
                        }
                    }

                    p {
                        width: 100%;
                        font-size: 1.1rem;
                        text-transform: capitalize;
                        padding: 10px;
                        margin: 0;

                        span {
                            font-weight: 800;
                            padding-right: 10px;
                            font-size: 1.2rem;
                        }
                    }

                    .details {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;


                        div {
                            width: 60%;

                            // border: 2px solid yellow;
                        }

                        button {
                            font-size: 1rem;
                            margin-right: 20px;
                            padding: 10px;
                            .open-project{
                                text-decoration: none;
                                color: white;
                            }
                            // border: 2px solid red;
                        }
                    }
                }
            }
        }
    }
}